<!-- header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            Profile
        </div>
        <div class="navbar-text pull-right">
            <a class="btn btn-xs btn-danger" ng-click="vm.logout()">
                Logout
            </a>
        </div>
    </div>
</nav>

<!-- profile content -->
<div class="container-fluid wd-centered">
    <form novalidate name="form" class="wd-form">

        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.error}}
        </div>

        <div ng-show="vm.message" class="alert alert-success">
            {{vm.message}}
        </div>

        <div ng-show="!vm.message && form.$invalid === true && form.$submitted === true" class="alert alert-danger">
            Must enter valid email
        </div>

        <label for="username">Username</label>
        <input readonly ng-model="vm.user.username" class="form-control" id="username">

        <label for="email">
            Email address
            <span ng-show="form.$invalid && form.$submitted === true"
                  class="glyphicon glyphicon-exclamation-sign"></span>
        </label>
        <input ng-model="vm.user.email" type="email" class="form-control" id="email" required="required">

        <label for="pw">Password</label>
        <input ng-model="form.password" type="password" class="form-control" id="pw">

        <label for="verify-pw">Verify Password</label>
        <input ng-model="form.password2" type="password" class="form-control" id="verify-pw">

        <label for="first-name">First Name</label>
        <input ng-model="vm.user.firstName" type="text" class="form-control" id="first-name">

        <label for="last-name">Last Name</label>
        <input ng-model="vm.user.lastName" type="text" class="form-control" id="last-name">

        <a class="btn btn-primary btn-block" href="#!/website">
            Websites
        </a>
        <button type="submit" ng-click="vm.updateUser(form)" class="btn btn-success btn-block">
            Save Profile Settings
        </button>

        <a ng-click="vm.unregister()" class="btn btn-danger btn-block">
            Delete Account
        </a>
    </form>
</div>


<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>