<!-- header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            Profile
        </div>
        <div class="navbar-text pull-right">
            <a class="btn btn-xs btn-danger" ng-click="vm.logout()">
                Logout
            </a>
        </div>
    </div>
</nav>

<!-- profile content -->
<div class="container-fluid wd-centered">
    <form novalidate class="wd-form">

        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.error}}
        </div>

        <div ng-show="vm.message" class="alert alert-success">
            {{vm.message}}
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input readonly ng-model="vm.user.username" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="vm.user.email" type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="pw">Password</label>
            <input ng-model="password" type="password" class="form-control" id="pw">
        </div>
        <div class="form-group">
            <label for="verify-pw">Verify Password</label>
            <input ng-model="password2" type="password" class="form-control" id="verify-pw">
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="vm.user.firstName" type="text" class="form-control" id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="vm.user.lastName" type="text" class="form-control" id="last-name">
        </div>

        <a class="btn btn-primary btn-block" href="#!/website">
            Websites
        </a>
        <a ng-click="vm.updateUser(password, password2)" class="btn btn-success btn-block">
            Save Profile Settings
        </a>

        <a ng-click="vm.unregister()" class="btn btn-danger btn-block">
            Delete Account
        </a>
    </form>
</div>


<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>