 <div class="container-fluid wd-centered">
    <form class="wd-form">
        <h1>Register</h1>

        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.error}}
        </div>

        <label for="email">Email</label>
        <input type="email"
               ng-model="email"
               id="email"
               placeholder="abc@example.com"
               class="form-control"/>
        <label for="username">Username</label>
        <input type="text"
               ng-model="username"
               id="username"
               placeholder="username"
               class="form-control"/>
        <label for="pw">Password</label>
        <input type="password"
               ng-model="password"
               id="pw"
               class="form-control"/>
        <label for="verify-pw">Verify Password</label>
        <input type="password"
               ng-model="password2"
               id="verify-pw"
               class="form-control"/>
        <a ng-click="vm.register(username, password, password2, email)" class="btn btn-primary btn-block">
            Register</a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Cancel</a>
    </form>
</div>