<div class="container-fluid">
    <div class="page-header">
        <h2>Create User</h2>
    </div>

    <form>
        <label>Username</label>
        <input type="text"
               class="form-control"
               ng-model="form.username"
               required="required"/>


        <label>First Name</label>
        <input type="text"
               class="form-control"
               ng-model="form.firstName"
               required="required"/>


        <label>Last Name</label>
        <input type="text"
               class="form-control"
               ng-model="form.lastName"/>

        <label>Display Name</label>
        <input type="text"
               class="form-control"
               ng-model="form.displayName"/>

        <label>Email</label>
        <input type="email"
               class="form-control"
               ng-model="form.email"
               required="required"/>



        <label>Password</label>
        <input type="password"
               class="form-control"
               ng-model="form.password"
               required="required"/>



        <label>Roles</label>
        <select chosen multiple
                ng-model="form.roles"
                required="required"
                class="form-control">
            <option value="CURATOR">CURATOR</option>
            <option value="ARTIST">ARTIST</option>
            <option value="ADMIN">ADMIN</option>
        </select>

        <button type="submit" class="btn btn-block btn-primary" ng-click="vm.createUser(form)">
            Create User
        </button>

    </form>
</div>