input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.content {
    padding-top: 36px;
}

.description {
    margin-bottom: 15px;
}

.centered {
    width: 600px;
    margin: auto;
}