<div class="container-fluid">
    <div ng-show="vm.searchType && vm.searchType === 'artwork'">
        <div id="search-results-db" class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">{{vm.localCount}} Artworks Found in PROJECT_NAME's Database</h1>
            </div>
            <div class="panel-body">
                <div class="row display-flex">
                    <div ng-repeat="artwork in vm.artworks" class="col-xs-4 col-sm-3">
                        <div class="thumbnail">
                            <a href="#!/artist/{{artwork._artist}}/artwork/{{artwork._id}}">
                                <div class="caption">
                                    <h4>{{artwork.title}}</h4>
                                </div>
                                <img class="wd-thumbnail-list-item" ng-src="{{artwork.primaryImageUrl}}"/>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-results-ham" class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title">{{vm.hamCount}} Artworks Found From 3rd Party Sources</h1>
                </div>
                <div class="panel-body">
                    <div class="row display-flex">
                        <div ng-repeat="artwork in vm.hamArtworks" class="col-xs-4 col-sm-3">
                            <div class="thumbnail">
                                <a href="#!/artist/{{artwork._artist}}/artwork/{{artwork._id}}">
                                    <div class="caption">
                                        <h4>{{artwork.title}}</h4>
                                    </div>
                                    <img class="wd-thumbnail-list-item" ng-src="{{artwork.primaryImageUrl}}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="" ng-click="vm.getArtworksPage(vm.currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-repeat="page in vm.pages">
                        <a href="" ng-click="vm.getArtworksPage(page)">{{page}}</a>
                    </li>

                    <li>
                        <a href="" ng-click="vm.getArtworksPage(vm.currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
    </div>

    <div ng-show="vm.searchType && vm.searchType === 'user'">
        <div id="user-results" class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">{{vm.localCount}} Users Found</h1>
            </div>
            <div class="panel-body">
                <div class="row display-flex">
                    <div ng-repeat="user in vm.userResults" class="col-xs-4 col-sm-3">
                        <div class="thumbnail">
                            <a href="#!/{{user.roles[0] | lowercase}}/{{user._id}}">
                                <div class="caption">
                                    <h4>{{user.displayName}}</h4>
                                    <h6>{{user.roles[0]}}</h6>
                                </div>
                                <img class="wd-thumbnail-list-item" ng-src="{{user.profileImageUrl}}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
