input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 15px;
}

body {
    padding-top: 80px;
    padding-bottom: 48px;
    height: 100%;
    /*background-color: #eeaa7b;*/
}

.wd-padding {
    padding-left: 40px;
    padding-right: 40px;
}

/*.navbar.navbar-default {*/
    /*background-color: #07889b;*/
    /*background-image: none;*/
/*}*/

/*.navbar-default .navbar-brand {*/
    /*color: whitesmoke;*/
/*}*/

/*.navbar-default .navbar-text {*/
    /*color: whitesmoke;*/
/*}*/

/*.glyphicon-chevron-left,*/
/*.glyphicon-plus,*/
/*.glyphicon-ok,*/
/*.glyphicon-user {*/
    /*color: whitesmoke;*/
/*}*/

.btn-block {
    margin-bottom: 15px;
}

.btn.btn-block.btn-success {
    margin-top: 15px;
}

.wd-centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wd-form {
    width: 300px;
    padding-bottom: 20px;
}

.wd-toolbar {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
    z-index: 1;
}

.wd-scrollable-left-split {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: scroll;
    padding-top: 15px;
    padding-bottom: 42px;
}

.results-container {
    margin: 15px;
    border: solid;
    border-width: 6px;
    border-radius: 12px;
    border-color: #07889b;
    background-color: whitesmoke;
}

.ng-submitted .form-control.ng-invalid,
.ng-submitted .form-control.ng-empty.ng-valid-url {
    border-color: red;
    border-width: 3px;
}

#searchForm.ng-submitted .form-control.ng-invalid {
    border-color: rgb(204, 204, 204);
    border-width: 1px;
}

span.glyphicon.glyphicon-exclamation-sign {
    color: red;
}

.wd-thumbnail-container {
    height: 300px;
    overflow: hidden;
    padding-bottom: 5px;
}

img.wd-thumbnail-list-item {
    width: 300px;
}

img.wd-artist-profile-image {
    width: 300px;
    padding-right: 15px;
    float: left;
}

.wd-artist-info-container {
    padding: 30px;
}

.wd-artist-info-container .well.well-sm {
    margin-left: 300px;
}

.wd-profile-image {
    overflow: hidden;
}

.wd-profile-image img {
    width: 100%;
}

img.wd-mobile-profile-image {
    width: 325px;
    border-style: solid;
    border-color: #5e5e5e;
    border-width: 8px;
    margin: auto;
    display: flex;
    margin-bottom:20px;
}

.wd-profile-content {
    padding-top: 20px;
}

.wd-profile-info-left {
    padding-right: 50px;
}

.chosen-container {
    width: inherit;
    min-width: 250px;
    margin-bottom: 15px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

img.wd-artwork {
    padding-bottom: 20px;
    margin-top: 35px;
}

.navbar.navbar-default.navbar-fixed-top.wd-secondary-nav {
    color: whitesmoke;
    background-color: #4442a9;
    padding-top: 70px;
    z-index: 1;
}

.wd-double-nav-content {
    padding-top: 20px;
}

.wd-comment {
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-color: #4c4848;
}

.wd-comment img {
    height: 75px;
}

.wd-uploaded-image {
    /*height: 100px;*/
    padding: 10px;
}

.wd-edit-image {
    position: relative;
}

h1.panel-title .btn.btn-default {
    margin: 3px;
}

#searchButton.btn.btn-default {
    margin-bottom: 13px;
}