<!-- header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand">
            Widgets
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{vm.pid}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<!-- widget list content -->
<div class="container-fluid">

    <ul class="list-group ui-sortable" wbdv-sortable>
        <li ng-repeat="widget in vm.widgets" class="list-group-item">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="IMAGE">
                        <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="YOUTUBE">
                        <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="HTML" ng-bind-html="vm.trustThisContent(widget.text)">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{vm.uid}}">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>