<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand">
            Widget YouTube Video Editor
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid wd-centered">
    <form class="wd-form">
        <label for="image-name">Name</label>
        <input type="text"
               id="image-name"
               class="form-control"/>
        <label for="image-text">Text</label>
        <input type="text"
               id="image-text"
               class="form-control"/>
        <label for="url">URL</label>
        <input type="url"
               id="url"
               class="form-control"/>
        <label for="width">Width</label>
        <input type="number"
               id="width"
               class="form-control"/>
        <a href="widget-list.html" class="btn btn-block btn-danger">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>