<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Widget Heading Editor
            </div>
            <div class="navbar-text pull-right">
                <a href="widget-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid wd-centered">
        <form class="wd-form">
            <label for="heading-name">Name</label>
            <input type="text"
                   id="heading-name"
                   class="form-control"/>
            <label for="heading-text">Text</label>
            <input type="text"
                   id="heading-text"
                   class="form-control"/>
            <label for="heading-size">Size</label>
            <select id="heading-size" class="form-control">
                <option value="1">1 (largest)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6 (smallest)</option>
            </select>
            <a href="widget-list.html" class="btn btn-block btn-danger">Delete</a>
        </form>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="../user/profile.html">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </nav>
</body>
</html>