<label for="image-name">
    Name
    <span ng-show="form.name.$invalid === true && form.$submitted === true"
          class="glyphicon glyphicon-exclamation-sign"></span>
</label>
<input type="text"
       id="image-name"
       ng-model="vm.cur.name"
       name="name"
       required="required"
       class="form-control"/>

<label for="image-text">
    Text
    <span ng-show="form.text.$invalid === true && form.$submitted === true"
          class="glyphicon glyphicon-exclamation-sign"></span>
</label>
<input type="text"
       id="image-text"
       ng-model="vm.cur.text"
       name="text"
       class="form-control"/>

<label for="url">
    URL
    <span ng-show="form.$submitted === true && (form.url.$invalid === true || form.flickrUrl.$invalid === true || (!vm.cur.url && !vm.cur.flickrUrl))"
          class="glyphicon glyphicon-exclamation-sign"></span>
</label>
<input ng-hide="vm.cur.flickrUrl"
       type="url"
       id="url"
       ng-model="vm.cur.url"
       name="url"
       class="form-control"/>

<input ng-show="vm.cur.flickrUrl"
       type="url"
       ng-model="vm.cur.flickrUrl"
       name="flickrUrl"
       class="form-control"/>
<a class="btn btn-info btn-block" href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{vm.wgid}}/search">
    Search Flickr
</a>

<label>File Upload</label>
<form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
    <input  name="myFile" type="file" class="form-control"/>
    <input  name="width" value="{{vm.cur.width}}" style="display: none"/>
    <input  name="uid"   value="{{vm.uid}}"       style="display: none"/>
    <input  name="wid"   value="{{vm.wid}}"       style="display: none"/>
    <input  name="pid"   value="{{vm.pid}}"       style="display: none"/>
    <input  name="wgid"  value="{{vm.wgid}}"      style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>

<label for="width">
    Width
    <span ng-show="form.width.$invalid === true && form.$submitted === true"
          class="glyphicon glyphicon-exclamation-sign">
        <br><b>Width must be between 0 and 100</b>
    </span>
</label>
<div class="input-group">
    <input type="number"
           min="0"
           max="100"
           id="width"
           ng-model="vm.cur.width"
           value="vm.cur.width"
           name="width"
           required="required"
           class="form-control">
    <span class="input-group-addon">%</span>
</div>