<label for="heading-name">Name</label>
<input type="text"
       id="heading-name"
       class="form-control"/>
<label for="heading-text">Text</label>
<input type="text"
       id="heading-text"
       class="form-control"/>
<label for="heading-size">Size</label>
<select id="heading-size" class="form-control">
    <option value="1">1 (largest)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6 (smallest)</option>
</select>