<div class="container-fluid col-sm-8 col-sm-offset-2">
    <form novalidate name="form" class="form-horizontal">
        <h1>Register</h1>

        <div ng-show="form.$invalid === true && form.$submitted === true" class="alert alert-danger">
            Missing required fields
        </div>

        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.error}}
        </div>



        <div class="form-group">
            <label>
                Account Type
                <a wbdv-popover href="" data-container="body" tabindex="0"
                   data-toggle="popover" data-placement="right"
                   data-trigger="focus"
                   data-content="Curators can create collections of artwork with other curators, while artists can add their own artwork to PROJECT_NAME's database to be discovered by all our users!">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                <span ng-show="!form.accountType && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input"
                           type="radio"
                           ng-model="form.accountType"
                           required="required"
                           value="CURATOR"> Curator
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input"
                           type="radio"
                           required="required"
                           ng-model="form.accountType"
                           value="ARTIST"> Artist
                </label>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="email">
                Email
                <span ng-show="(form.$error.email || !form.email) && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="col-sm-10">
                <input type="email"
                       ng-model="form.email"
                       id="email"
                       required="required"
                       placeholder="abc@example.com"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="username">
                Username
                <span ng-show="!form.username && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="col-sm-10">
                <input type="text"
                       ng-model="form.username"
                       id="username"
                       required="required"
                       placeholder="username"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="pw">
                Password
                <span ng-show="!form.password && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="col-sm-10">
                <input type="password"
                       ng-model="form.password"
                       id="pw"
                       required="required"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="verify-pw">
                Verify Password
                <span ng-show="!form.password2 && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="col-sm-10">
                <input type="password"
                       ng-model="form.password2"
                       id="verify-pw"
                       required="required"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="firstName">
                First Name
                <span ng-show="!form.firstName && form.$submitted === true"
                      class="glyphicon glyphicon-exclamation-sign"></span>
            </label>
            <div class="col-sm-10">
                <input type="text"
                       ng-model="form.firstName"
                       id="firstName"
                       required="required"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" for="lastName">
                Last Name
            </label>
            <div class="col-sm-10">
                <input type="text"
                       ng-model="form.lastName"
                       id="lastName"
                       class="form-control"/>
            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" ng-click="vm.register(form)" class="btn btn-primary btn-block">
                Register</button>

            <a class="btn btn-danger  btn-block"
               href="#!/login">Cancel</a>
        </div>

    </form>
</div>