<div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Account Settings</h1>

        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.error}}
        </div>

        <div ng-show="vm.message" class="alert alert-success">
            {{vm.message}}
        </div>

        <div ng-show="!vm.message && form.$invalid === true && form.$submitted === true"
             class="alert alert-danger">
            Must enter valid email
        </div>


        <label class="col-sm-2" for="username">
            Username
        </label>
        <div class="col-sm-10">
            <input readonly
                   ng-model="vm.user.username"
                   class="form-control"
                   id="username"/>
        </div>

        <label class="col-sm-2">Profile Image</label>
        <div class="col-sm-10">
            <div class="media">
                <div ng-show="vm.user.profileImageUrl !== '/project/uploads/user/user_image_placeholder.png'"
                     class="media-left">
                    <img class="media-object" ng-src="{{vm.user.profileImageUrl}}" width="150px"/>
                </div>

                <div class="media-body">
                    <form action="/api/project/user/uploadProfileImage"
                        method="post"
                        enctype="multipart/form-data">
                        <input  name="myFile" type="file" class="form-control"/>
                        <input name="uid" value="{{vm.currentUser._id}}" style="display: none"/>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>


        <form novalidate name="form">
            <div class="form-group">
                <label class="col-sm-2" for="email">
                    Email address
                    <span ng-show="form.$invalid && form.$submitted === true"
                          class="glyphicon glyphicon-exclamation-sign"></span>
                </label>
                <div class="col-sm-10">
                    <input ng-model="vm.user.email"
                           type="email"
                           class="form-control"
                           id="email"
                           required="required"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="pw">
                    Password
                </label>
                <div class="col-sm-10">
                    <input ng-model="form.password"
                           type="password"
                           class="form-control"
                           id="pw"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="verify-pw">
                    Verify Password
                </label>
                <div class="col-sm-10">
                    <input ng-model="form.password2"
                           type="password"
                           class="form-control"
                           id="verify-pw"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="first-name">
                    First Name
                </label>
                <div class="col-sm-10">
                <input ng-model="vm.user.firstName"
                       type="text"
                       class="form-control"
                       id="first-name"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="last-name">
                    Last Name
                </label>
                <div class="col-sm-10">
                <input ng-model="vm.user.lastName"
                       type="text"
                       class="form-control"
                       id="last-name"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="bio">
                    Bio
                </label>
                <div class="col-sm-10">
                    <textarea ng-model="vm.user.bio" class="form-control" id="bio"></textarea>
                </div>
            </div>

            <button type="submit" ng-click="vm.updateSettings(form)" class="btn btn-success btn-block">
                Save Profile Settings
            </button>

            <a ng-click="vm.unregister()" class="btn btn-danger btn-block">
                Delete Account
            </a>
        </form>
    </div>
</div>