<div class="container-fluid">
    <div id="user-list" class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">
                <a href="#!/curator/{{vm.profileId}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>{{vm.profile.displayName}} - {{vm.typeTitle}}</h1>
        </div>
        <div class="panel-body">
            <div class="row display-flex">
                <div class="col-xs-6 col-sm-3" ng-repeat="user in vm.userList">
                    <div class="thumbnail">
                        <a href="#!/{{vm.allUsersOfType}}/{{user._id}}">
                            <div class="caption">
                                <h4>{{user.displayName}}</h4>
                            </div>
                            <img class="wd-thumbnail-list-item" ng-src="{{user.profileImageUrl}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>