<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-8 hidden-xs">
                <div class="row">
                    <img class="wd-artwork" ng-src="{{vm.currentImage}}" width="100%"/>
                </div>
                <div class="row display-flex">
                    <div class="col-xs-3" ng-repeat="image in vm.artwork.images">
                        <img ng-click="vm.changeCurrentImage(image)" ng-src="{{image}}" width="100%"/>
                    </div>
                </div>
            </div>

            <div class="hidden-sm hidden-md hidden-lg">
                <img class="wd-artwork" ng-src="{{vm.currentImage}}" width="100%"/>
                <div class="row display-flex">
                    <div class="col-xs-3" ng-repeat="image in vm.artwork.images">
                        <img ng-click="vm.changeCurrentImage(image)" ng-src="{{image}}" width="100%"/>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="page-header">
                    <h1>{{vm.artwork.title}}</h1>

                    <div ng-show="vm.message" class="alert alert-success">
                        {{vm.message}}
                    </div>

                    <button ng-hide="vm.artwork._artist === vm.user._id"
                            class="btn btn-primary" data-toggle="modal"
                            data-target="#newSelection">
                        Add to Collection
                    </button>

                    <a ng-show="vm.artwork._artist === vm.user._id"
                            class="btn btn-success" href="#!/artwork/{{vm.artworkId}}">
                        Edit Artwork
                    </a>
                </div>

                <h3>Date: {{vm.artwork.date | date}}</h3>

                <h3><a href="#!/artist/{{vm.artistId}}">
                    {{vm.artwork.meta.artistName}}</a>
                </h3>

                <h4>Classification: {{vm.artwork.classification}}</h4>
                <h4>Medium: {{vm.artwork.medium}}</h4>
                <h4 ng-show="vm.artwork.style">
                    Style: {{vm.artwork.style}}
                </h4>
                <h4 ng-show="vm.artwork.technique">
                    Technique: {{vm.artwork.technique}}
                </h4>
            </div>
        </div>

        <div class="row">
            <div ng-show="vm.artwork.description">
                <h2>Description</h2>
                <p class="text-justify">{{vm.artwork.description}}</p>
            </div>

            <div ng-show="vm.relatedWorks">
                <h2>Related Works</h2>
                <div class="row display-flex">
                    <div class="col-xs-4 col-sm-3" ng-repeat="related in vm.relatedWorks">
                        <div class="thumbnail">
                            <a href="#!/artist/{{vm.artistId}}/artwork/{{related._id}}">
                                <div class="caption">
                                    <h6>{{related.title}}</h6>
                                </div>
                                <img class="wd-thumbnail-list-item" ng-src="{{related.primaryImageUrl}}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newSelection" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Artwork to Collection</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-switch="vm.isCurator">
                    <div ng-switch-when="false">
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                Oops! You must logged in as a curator user to add artwork to a collection.
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="true">
                        <form novalidate name="newSel">
                        <div class="modal-body">
                            <div ng-show="vm.error" class="alert alert-danger">
                                {{vm.error}}
                            </div>

                            <div ng-show="newSel.$invalid === true && newSel.$submitted === true"
                                 class="alert alert-danger">
                                Please select a collection
                            </div>

                                <div class="form-group">
                                    <label for="collection" class="form-control-label">
                                        Collection
                                    </label>
                                    <select chosen
                                            id="collection"
                                            required="required"
                                            ng-options="collection._id as collection.name for collection in vm.collectionOptions"
                                            ng-model="newSel.collection">
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="description" class="form-control-label">
                                        Custom Description
                                    </label>
                                    <textarea class="form-control" ng-model="newSel.description" id="description"></textarea>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               ng-model="newSel.defaultDescription">
                                        Use Default Description
                                    </label>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" ng-click="vm.createSelection(newSel)"
                                    class="btn btn-primary">Save to Collection</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
