<div class="container-fluid">
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <a href="#!/curator/{{vm.curatorId}}/collection/{{vm.collectionId}}/selection">
                        <span class="glyphicon glyphicon-chevron-left"></span> Back to Collection
                    </a>

                    <button ng-show="vm.user._id && vm.user._id === vm.collection._owner && vm.user._id !== vm.selection._curator"
                            class="btn btn-danger" ng-click="vm.deleteSelection()">
                        Delete Selection
                    </button>

                    <button ng-show="vm.user._id && vm.user._id === vm.selection._curator"
                            data-toggle="modal" data-target="#editSelection">
                        Edit Selection
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8 hidden-xs">
                        <div class="row">
                            <img class="wd-artwork" ng-src="{{vm.currentImage}}" width="100%"/>
                        </div>
                        <div class="row display-flex">
                            <div class="col-xs-3" ng-repeat="image in vm.artwork.images">
                                <img ng-click="vm.changeCurrentImage(image)" ng-src="{{image}}" width="100%"/>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-sm hidden-md hidden-lg">
                        <img class="wd-artwork" ng-src="{{vm.currentImage}}" width="100%"/>
                        <div class="row display-flex">
                            <div class="col-xs-3" ng-repeat="image in vm.artwork.images">
                                <img ng-click="vm.changeCurrentImage(image)" ng-src="{{image}}" width="100%"/>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">
                        <div class="page-header">
                            <h1>{{vm.artwork.title}}</h1>
                            <h4>Added by
                                <a href="#!/curator/{{vm.selection._curator}}">
                                    {{vm.selectionCurator.displayName}}</a>
                            </h4>

                        </div>

                        <h3>Date: {{vm.artwork.date | date}}</h3>

                        <h3><a href="#!/artist/{{vm.artwork._artist}}">
                            {{vm.artwork.meta.artistName}}</a>
                        </h3>

                        <h4>Classification: {{vm.artwork.classification}}</h4>
                        <h4>Medium: {{vm.artwork.medium}}</h4>
                        <h4 ng-show="vm.artwork.style">
                            Style: {{vm.artwork.style}}
                        </h4>
                        <h4 ng-show="vm.artwork.technique">
                            Technique: {{vm.artwork.technique}}
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div ng-show="(vm.selection.description && !vm.selection.defaultDescription) || (vm.artwork.description && vm.selection.defaultDescription)">
                        <h2>Description</h2>
                        <p ng-show="vm.selection.defaultDescription" class="text-justify">
                            {{vm.artwork.description}}
                        </p>

                        <p ng-show="vm.selection.description && !vm.selection.defaultDescription"
                           class="text-justify">
                            {{vm.selection.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#comments">
                        Comments ({{vm.comments.length}})
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="comments" class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-repeat="comment in vm.comments">
                        <div class="media wd-comment">
                            <div class="media-left">
                                <a href="#!/curator/{{comment._user}}">
                                    <img ng-src="{{comment.meta.user.profileImageUrl}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{comment.meta.user.displayName}}</h5>
                                <h6>{{comment.createdDate | date : medium}}</h6>
                                <p>{{comment.text}}</p>

                                <button ng-show="[comment._user, vm.selection._curator, vm.collection._owner].indexOf(vm.user._id) > -1"
                                        ng-click="vm.deleteComment(comment._id)" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.user._id" class="media wd-comment">
                        <div class="media-left">
                            <img ng-src="{{vm.user.profileImageUrl}}"/>
                        </div>
                        <div class="media-body">
                            <form novalidate name="commentForm">
                                <textarea class="form-control"
                                          ng-model="commentForm.text"></textarea>

                                <button type="submit" class="btn btn-primary"
                                        ng-click="vm.addComment(commentForm)">
                                    Add Comment
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSelection" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Selection</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form novalidate name="form">
                    <div class="modal-body">
                        <div ng-show="vm.error" class="alert alert-danger">
                            {{vm.error}}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                Collection:
                            </label>
                            <input readonly class="form-control" value="{{vm.collection.name}}"/>
                        </div>


                        <div class="form-group">
                            <label for="description" class="form-control-label">
                                Custom Description
                            </label>
                            <textarea class="form-control" ng-model="form.description"
                                      id="description">{{vm.selection.description}}</textarea>
                        </div>


                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox"
                                       class="form-check-input"
                                       value="vm.selection.defaultDescription"
                                       ng-model="form.defaultDescription">
                                Use Default Description
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" ng-click="vm.updateSelection(form)"
                                class="btn btn-primary">Save Changes</button>
                        <button ng-click="vm.deleteSelection()"
                                class="btn btn-danger">Delete Selection</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>