<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <!-- navbar part only shown in small+ screens-->
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Pages
            </div>
            <div class="navbar-text pull-right">
                <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <!-- navbar part shown on all screen sizes-->
        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
                <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Edit Page
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="vm.updatePage()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">

    <!-- page list only shown on small+ screens -->
    <div class="col-sm-4 hidden-xs wd-scrollable-left-split">
        <ul class="list-group">
            <li ng-repeat="page in vm.pages" class="list-group-item">
                <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <!-- page editor shown on all screen sizes -->
    <div class="col-sm-8 col-sm-offset-4">
        <form>
            <label for="edit-page-name">Name</label>
            <input type="text"
                   id="edit-page-name"
                   ng-model="vm.cur.name"
                   class="form-control"
                   placeholder="Page Name"/>
            <label for="edit-page-title">Title</label>
            <input type="text"
                   id="edit-page-title"
                   ng-model="vm.cur.title"
                   class="form-control"
                   placeholder="Page Title"/>
            <a ng-click="vm.updatePage()" class="btn btn-block btn-success">Save Changes</a>
            <a ng-click="vm.deletePage()" class="btn btn-block btn-danger">Delete</a>
        </form>
    </div>
</div>

<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{vm.uid}}">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>