<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Pages
            </div>
            <div class="navbar-text pull-right">
                <a href="page-new.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Edit Page
            </div>
            <div class="navbar-text pull-right">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wd-scrollable-left-split">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Blog Post
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Blogs
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Home
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    About
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Contact Us
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Lorem ipsum
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 col-sm-offset-4">
        <form>
            <label for="edit-page-name">Name</label>
            <input type="text"
                   id="edit-page-name"
                   class="form-control"
                   value="Blog Post"
                   placeholder="Page Name"/>
            <label for="edit-page-title">Title</label>
            <input type="text"
                   id="edit-page-title"
                   class="form-control"
                   value="Blog Post"
                   placeholder="Page Title"/>
            <a href="page-list.html" class="btn btn-block btn-danger">Delete</a>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>
</body>
</html>